@import '@angular/material/prebuilt-themes/indigo-pink.css';

::ng-deep .ngx-notifier {
	left: 0;
	position: absolute !important;
	right: 0;
	top: 0;
	z-index: 999999;
}
.custom-tool-bar {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.custom-tool-bar .title {
	display: inline-flex;
	text-transform: uppercase !important;
}
.custom-tool-bar .actions {
	display: inline-flex;
}
.custom-tool-bar .actions * {
	display: inline-flex;
	font-size: 1rem;
	margin: auto;
	margin-right: 1rem;
}
.chat-window {
	margin: 1rem;
}
.initial-avatar {
	align-items: center;
	background-color: var(--light) !important;
	border-radius: 50%;
	color: #fff;
	display: flex;
	font-weight: 900;
	height: 3rem !important;
	justify-content: center;
	margin-left: 0.5rem !important;
	margin-right: 0.5rem !important;
	text-transform: uppercase !important;
	width: 3rem !important;
}
mat-list-item {
	cursor: pointer;
	margin-bottom: 0.5rem !important;
	padding: 0.5rem !important;
}
mat-list-item:hover {
	background-color: var(--light) !important;
}
mat-list-item:hover .initial-avatar {
	background-color: var(--secondary) !important;
	color: var(--light) !important;
}

.clientName {
	font-size: 1rem !important;
	overflow: visible !important;
	text-transform: capitalize !important;
}

::ng-deep .mat-mdc-tab-header {
	display: none !important;
}

.mat-elevation-z8 {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
		0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.chat-container {
	background-color: white;
	height: 600px;
}

.online-contact {
	background-color: red;
}

.initial-avatar.online-contact {
	border-color: var(--success) !important;
	border-style: solid;
	border-width: 2px;
}
.initial-avatar.offline-contact {
	border-color: var(--dark) !important;
	border-style: solid;
	border-width: 2px;
}

.contact {
	display: flex;
	justify-content: space-between;
}
.contact div {
	display: inline-flex;
}
.status {
	display: flex;
}
.status span {
	margin: auto;
}
.online-contact {
	background-color: var(--success);
	border-radius: 50%;
	height: 1rem;
	width: 1rem;
}
.offline-contact {
	background-color: var(--dark);
	border-radius: 50%;
	height: 1rem;
	width: 1rem;
}

.toolbar-container.sub {
	border-bottom: solid;
	border-color: var(--light);
	border-width: thin;
}

.toolbar-container.sub mat-toolbar {
	background-color: white;
}
.toolbar-container.sub .title {
	font-size: 1rem;
}
.auto-margin {
	margin: auto !important;
}

::ng-deep .mdc-list-item__content {
	overflow: visible !important;
}

.back-button {
	background: var(--primary);
	color: white;
	padding: 0.5rem;
}
