@import '@angular/material/prebuilt-themes/indigo-pink.css';

.viewer-container {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	width: 100%;
}

.viewer-container * {
	display: flex;
	margin: auto;
}
.preview-image {
	max-height: 350px;
}
